/* 20210602
   base.html
 */

    *{
        margin:0;
        padding:0;
      }
      a{
        text-decoration:none;
      }
      ul,ol{
        list-style:none;
      }
      header{
        width:100%;
        height:80px;
        background:black;
        margin:0 auto;
        text-align:center;
      }
      header > h1{
        line-height:80px;
        color: rgb(255 5 90);
      }

      #menu{
         overflow: hidden;
         width:100%;
         margin: 0 auto;
      }
      #menu > li{
        float:left;
      }
      #menu > li > a{
        text-align:center;
        width: 100%;
        display: block;
        padding: 10px 10px;
        font-size:105%;
        font-weight:bold;
        background: black;
        color:white;
      }
      #menu > li > a:hover{
        color:rgb(255 5 90);
      }


      section{
        width:100%;
        height:400px;
        background:gray;
        margin:0 auto;
      }
      footer{
        width:600px;
        height:50px;
        background:black;
        margin:0 auto;
      }